* {
    box-sizing: border-box;
    background-color: #FFF0e5;
    font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.div {
    display: block;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    margin-bottom: 1 rem;
}

ul {
    display: block;
    margin-top: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.navbar {
    display: block;
    height: 5rem;
    transition: background-color 150ms ease-in-out, border-bottom-color 150ms ease-in-out;
    border-bottom: 1px solid #10162F;
    width: 100%;
    border-color: #FFF0E5;
    background-color: #FFF0E5;
    padding: 20px 79px;
    overflow: hidden;
}

.navigation-div {
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    box-shadow: none;
}

.photo {
    position: relative;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
}

.img-logo {
    height: auto;
    width: 200px;
    margin-left: 60px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    text-decoration: none;
}

.list-item {
    float: left;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
}

.list-item a:hover {
    color: blue;
}

.list-item a:active {
    color: black;
}

.container-one {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 7.5rem;
}

.fa-solid,
.fa-magnifying-glass {
    cursor: pointer;
    background: none;
    padding: 0;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    width: 30px;
    height: 20px;
    border-color: transparent;
    color: #10162F;
    border: #10162F;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: none;
    align-items: center;
}

.intro {
    margin-left: 2rem;
    font-weight: 700;
    display: flex;
    position: relative;
}

.content-container {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 1440px;
}

.big-picture {
    height: auto;
    width: 50%;
    margin-left: 200px;
    margin-right: 100px;
}

.girl-image {
    height: 400px;
    width: 500px;
    border: 1px solid black;
    box-shadow: -20px 20px 20px #000000;
}

.form {
    height: auto;
    width: 40%;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.internal-form {
    width: 25rem;
    display: flex;
    flex-direction: column;
}

.text {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.5;
    padding-bottom: 1rem;
    margin: 0;
}

.form-control {
    padding: 10px;
    width: 50%;
    margin-top: 5px;
}

.btn-primary {
    background-color: blue;
    color: white;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}

.desc1 {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    color: #424242;
}

.desc {
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    margin: 0;
    font-size: 0.875rem;
}

.terms {
    color: #3A10E5;
    text-decoration: underline;
}

.desc2 {
    font-weight: 400;
}

.btn-social {
    padding: 10px;
    margin: 5px;
}

.cont-1 {
    border-top: 1px solid #10162F;
    display: block;
}

.cont-3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
}

.box {
    grid-column-end: span 6;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
}

.box-part {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 1rem;
}

.TextFooter-Heading {
    font-size: 1rem;
    margin-top: 0;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.FooterLink-Items {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.FooterLink-Item {
    margin: 0.15rem 0;
    font-size: 1rem;

}

.Anchor {
    background: none;
    text-decoration: none;
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: #10162F;
    background-color: transparent;
}

.FooterLink-Item a:hover {
    color: blue;
}

.smallbox {
    display: inline-block;
}

.Anchorbase {
    background: none;
    text-decoration: none;
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: #10162F;
    background-color: transparent;
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

.apps {
    width: 16px;
    height: 16px;
}

.TextFooter-Heading-1 {
    font-size: 1rem;
    margin-top: 0;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 0;
}

.FooterLink-Items-1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.mobile {
    grid-row: 2/3;
    grid-column-end: 1;
    grid-column: 1/3;
}

.mobile-item {
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.AnchorBase-MobileImageLink {
    background: none;
    text-decoration: none;
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    position: relative;
    color: #10162F;
    background-color: transparent;
    display: inline-block;
}

.last-box {
    margin-top: -26px;
    display: unset;
    order: 3;
    grid-row: 3/3;
    grid-column-end: 2;
    grid-column: 2/3;
}

.box-part-2 {
    grid-row: 2/3;
    grid-column-end: 2;
    grid-column: 2/3;
}

.box-part-3 {
    grid-row: 2/3;
    grid-column-end: 3;
    grid-column: 3/3;
}

.box-part-4 {
    padding-left: 4rem;
    border-left: 1px solid #10162F;
    border-top: none;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.box-part-5 {
    flex-direction: row;
    display: flex;
}

.internal-box-1,
.internal-box-2 {
    width: 50%;
}

.TextFooter-SubHeading {
    margin-top: 0;
    font-weight: 700;
    line-height: 1.1;
    font-size: .875rem;
}

.CourseCatalog {
    max-height: none;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    flex-direction: column;
}

.Catalog-items {
    margin: 0.15rem 0;
    font-size: 1rem;
}

.Catalog-items a:hover {
    color: blue;
}

.Language-section {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    max-height: 12rem;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}


.LegalCont {
    -webkit-box-align: baseline;
    align-items: center;
    border-top: 1px solid #10162F;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 0.875rem;
    padding: 0.2rem 0 0.5rem;
    margin: 0;
}

.Linked-list {
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 0.5rem;
    padding-left: 0;
}

.section::after {
    content: '|';
    margin: 0 0.375rem;
    font-size: 1rem;
}

.section:last-of-type:after {
    opacity: 0;
}

.last {
    display: inline-block;
    text-align: right;
}

.lov {
    display: inline-block;
    filter: saturate(0.7);
    margin-right: 0.25rem;
    min-width: 1.75em;
    text-align: center;
    background-color: #FFF0E5;
}

.AppWrapper {
    position: relative;
    z-index: 1;
}

.section-8 {
    --color-text: #FFFFFFFF;
    --color-background-current: #3A10E5;
    --color-background-primary: #0A0D1C;
    --color-background-selected: #34394C;
    --color-background-disabled: #707382;
    --color-background-hover: #585C6D;
    --color-shadow-opaque: rgba(0, 0, 0, 0.75);
    --color-shadow-solid: #000000;
    --color-primary: #FFD300;
    --color-primary-hover: #CCA900;
    --color-primary-reverse: #3A10E5;
    --color-secondary: #FFFFFFFF;
    --color-secondary-hover: #DBDCE0;
    --color-danger: #E85D7F;
    --color-danger-hover: #DC5879;
    --color-interface: #FFD300;
    --color-interface-hover: #CCA900;
    color: #FFFFFFFF;
    background-color: #3A10E5;
}

.section-8-grid {
    padding-top: 6rem;
    padding-bottom: 6rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
    background-color: #3A10E5;
}

.sec-8-1 {
    grid-row: 1;
    grid-column-end: span 4;
    grid-column-start: 2;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    background-color: #3A10E5;
}

.Flexbox {
    display: flex;
    -webkit-box-pack: center;
    align-items: center;
    background-color: #3A10E5;
}

.fleximage {
    max-width: 28.125rem;
    max-height: 20.5rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
    overflow: clip;
}

main {
    display: block;
}

.FlexBox-OuterBox {
    display: flex;
    padding-bottom: 4rem;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1;
    flex-direction: column;
    -webkit-box-pack: end;
    align-items: flex-end;
    pointer-events: none;
}

.Box-InnerBox {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    pointer-events: all;
}

.Box-1 {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.Layout {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    row-gap: 2rem;
}

.show-1 {
    grid-column-end: span 6;
    display: flex;
    min-height: 220px;
    -webkit-box-pack: center;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
}

.upper {
    position: relative;
}

.StyledDiagonalADense {
    height: 25rem;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    top: 16px;
    left: -16px;
    z-index: -1;
}

.Styled-image {
    height: 25rem;
    display: flex;
    margin: auto;
    border: 1px solid #10162F;
    border-radius: 2px;
}

.show-2 {
    grid-column-end: span 6;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
}

.boxing {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.boxing-flex {
    width: 25rem;
    max-width: 100%;
    min-height: 31rem;
    display: flex;
    flex-direction: column;
}

.Text {
    font-weight: 700;
    font-size: 1.625rem;
    margin: 0;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.StyledForm{
    display: flex;
    flex-direction: column;
}
form{
    margin-top: 0cm;
}

.LayoutGrid{
    grid-column-gap: 2rem;
    column-gap: min(calc(100% / 11), 2rem);
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
    row-gap: 1rem;
}

.LayoutGrid-col{
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    grid-row-end: span 1;
    grid-column-end: span 12;
}