* {
    box-sizing: border-box;
    background-color: #FFF0e5;
    font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.div {
    display: block;
}

ul {
    display: block;
    margin-top: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.navbar {
    display: block;
    height: 5rem;
    transition: background-color 150ms ease-in-out, border-bottom-color 150ms ease-in-out;
    border-bottom: 1px solid #10162F;
    width: 100%;
    border-color: #FFF0E5;
    background-color: #FFF0E5;
    padding: 20px 79px;
    overflow: hidden;
}

.navigation-div {
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    box-shadow: none;
}

.photo {
    position: relative;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
}

.img-logo {
    height: auto;
    width: 200px;
    margin-left: 60px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    text-decoration: none;
}

.list-item {
    float: left;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
}

.list-item a:hover {
    color: blue;
}

.list-item a:active {
    color: black;
}

.container-one {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 7.5rem;
}

.fa-solid,
.fa-magnifying-glass {
    cursor: pointer;
    background: none;
    padding: 0;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    width: 30px;
    height: 20px;
    border-color: transparent;
    color: #10162F;
    border: #10162F;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: none;
    align-items: center;
}

.intro {
    margin-left: 2rem;
    font-weight: 700;
    display: flex;
    position: relative;
}

.second-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.big-picture {
    height: auto;
    width: 50%;
    margin-left: 200px;
    margin-right: 100px;
}

.girl-image {
    height: 400px;
    width: 500px;
    border: 1px solid black;
    box-shadow: -20px 20px 20px #000000;
}

.form {
    height: auto;
    width: 40%;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.internal-form {
    width: 25rem;
    display: flex;
    flex-direction: column;
}

.text {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.5;
    padding-bottom: 1rem;
    margin: 0;
}

.form-control {
    padding: 10px;
    width: 50%;
    margin-top: 5px;
}

.btn-primary {
    background-color: blue;
    color: white;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}

.desc1 {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    color: #424242;
}

.desc {
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    margin: 0;
    font-size: 0.875rem;
}

.terms {
    color: #3A10E5;
    text-decoration: underline;
}

.desc2 {
    font-weight: 400;
}

.btn-social {
    padding: 10px;
    margin: 5px;
}

.cont-1 {
    border-top: 1px solid #10162F;
    display: block;
}

.cont-2 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.cont-3 {
    padding-left: 2rem 0;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
}

.box {
    grid-column-end: span 6;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
}

.box-part {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 1rem;
}

.TextFooter-Heading {
    font-size: 1rem;
    margin-top: 0;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.FooterLink-Items {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.FooterLink-Item {
    margin: 0.15rem 0;
    font-size: 1rem;

}

.Anchor {
    background: none;
    text-decoration: none;
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: #10162F;
    background-color: transparent;
}

.FooterLink-Item a:hover {
    color: blue;
}

.smallbox {
    display: inline-block;
}